{% extends "base.html" %}
{% block title %}Michael’s Designs | 404{% endblock %}
{% load static from staticfiles %}
{% load design_extras %}
{% block content %}

<div class="col-md-9">

    <div class="row"><!-- carousel for desktop and tablet -->
        <div class="col">
            <h1>Oops!</h1>
            <br>
            <h3>We can't seem to find the page that you are looking for.</h3>
            <hr>
            <h5 class="text-muted">Error code: 404</h5>
            <br>
            <p><b>Here are some helpful links instead:</b></p>
            <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/product/">Product</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="/anniversary-gift-list/">Aniversary Gift List</a></li>
            </ul>
        </div>
    </div>
    <div style="padding-top: 100px;"></div>
</div>

{% endblock %}