{% extends "base.html" %}
{% block title %}Michael’s Designs | Anniversary Gift List{% endblock %}
{% load static from staticfiles %}
{% load design_extras %}
{% block content %}

<div class="col-md-9">
<div class="hidden-md-up" style="margin-bottom: 65px;" id="traditionalMobile"></div>
    <div class="row">
        <div class="col-md-12" id="traditional">
            <h1 class="text-center display-4">Traditional and modern anniversary gifts</h1>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="bg-color">
                    <tr>
                        <th>Year</th>
                        <th>Traditional (U.S)</th>
                        <th>Traditional (UK)</th>
                        <th>Modern (U.S)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1st</th>
                        <td>Paper</td>
                        <td>Cotton</td>
                        <td>Clock</td>
                    </tr>
                    <tr>
                        <th scope="row">2nd</th>
                        <td>Cotton</td>
                        <td>Paper</td>
                        <td>China</td>
                    </tr>
                    <tr>
                        <th scope="row">3rd</th>
                        <td colspan="2">Leather</td>
                        <td>Crystal, glass</td>
                    </tr>
                    <tr>
                        <th scope="row">4th</th>
                        <td>Linen, silk</td>
                        <td>Fruit</td>
                        <td>Appliances (electrical)</td>
                    </tr>
                    <tr>
                        <th scope="row">5th</th>
                        <td colspan="2">Wood</td>
                        <td>Silverware</td>
                    </tr>
                    <tr>
                        <th scope="row">6th</th>
                        <td>Iron</td>
                        <td>Sugar</td>
                        <td>Wooden Objects</td>
                    </tr>
                    <tr>
                        <th scope="row">7th</th>
                        <td>Wool, copper</td>
                        <td>Wollen</td>
                        <td>Desk sets/ pen and pencil sets</td>
                    </tr>
                    <tr>
                        <th scope="row">8th</th>
                        <td>Bronze</td>
                        <td>Salt</td>
                        <td>Linens, lace</td>
                    </tr>
                    <tr>
                        <th scope="row">9th</th>
                        <td>Potter</td>
                        <td>Copper</td>
                        <td>Leather goods</td>
                    </tr>
                    <tr>
                        <th scope="row">10th</th>
                        <td>Tin, Aluminum</td>
                        <td>Tin</td>
                        <td>Diamond Jewellery</td>
                    </tr>
                    <tr>
                        <th scope="row">11th</th>
                        <td colspan="2">Steel</td>
                        <td>Fashion Jewellery, accessories</td>
                    </tr>
                    <tr>
                        <th scope="row">12th</th>
                        <td>Silk</td>
                        <td>Silk and fine linen</td>
                        <td>Pearls, coloured gems</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="hidden-md-up" style="margin-bottom: 50px;" id="jewelleryMobile"></div>
    <div class="row">
        <div class="col-md-12" id="jewellery">
            <h1 class="text-center display-4">Jewellery Anniversary list</h1>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead class="bg-color">
                    <tr>
                        <th>Year</th>
                        <th>Gemstone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1st</th>
                        <td>Mother of Pearl</td>
                    </tr>
                    <tr>
                        <th scope="row">2nd</th>
                        <td>Garnet</td>
                    </tr>
                    <tr>
                        <th scope="row">3rd</th>
                        <td>Moonstone</td>
                    </tr>
                    <tr>
                        <th scope="row">4th</th>
                        <td>Blue Topaz</td>
                    </tr>
                    <tr>
                        <th scope="row">5th</th>
                        <td>Rose Quartz</td>
                    </tr>
                    <tr>
                        <th scope="row">6th</th>
                        <td>Amethyst</td>
                    </tr>
                    <tr>
                        <th scope="row">7th</th>
                        <td>Onyx</td>
                    </tr>
                    <tr>
                        <th scope="row">8th</th>
                        <td>Tourmaline</td>
                    </tr>
                    <tr>
                        <th scope="row">9th</th>
                        <td>Lapis Lazuli</td>
                    </tr>
                    <tr>
                        <th scope="row">10th</th>
                        <td>Crystal or green Tourmaline</td>
                    </tr>
                    <tr>
                        <th scope="row">11th</th>
                        <td>Turquoise</td>
                    </tr>
                    <tr>
                        <th scope="row">12th</th>
                        <td>Jade</td>
                    </tr>
                    <tr>
                        <th scope="row">13th</th>
                        <td>Citrine</td>
                    </tr>
                    <tr>
                        <th scope="row">14th</th>
                        <td>Opal</td>
                    </tr>
                    <tr>
                        <th scope="row">15th</th>
                        <td>Rhodolite</td>
                    </tr>
                    <tr>
                        <th scope="row">20th</th>
                        <td>Emerald</td>
                    </tr>
                    <tr>
                        <th scope="row">25th</th>
                        <td>Tsavorite</td>
                    </tr>
                    <tr>
                        <th scope="row">30th</th>
                        <td>Pearl</td>
                    </tr>
                    <tr>
                        <th scope="row">40th</th>
                        <td>Ruby</td>
                    </tr>
                    <tr>
                        <th scope="row">50th</th>
                        <td>Gold</td>
                    </tr>
                    <tr>
                        <th scope="row">60th</th>
                        <td>Diamond</td>
                    </tr>
                    <tr>
                        <th scope="row">65th</th>
                        <td>Sapphire</td>
                    </tr>
                    <tr>
                        <th scope="row">70th</th>
                        <td>Paltinum</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}