{% load static %}
{% load design_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap4/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/my_css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
  </head>
  <body>
    <!-- Navigation for desktop and tablet -->
    <div class="container-fluid">
      <div class="row hidden-sm-down">
        <div class="col">
          <p style="float: left; padding-top: 10px;"><img src="{% static 'images/michaels_designs/logo.png' %}" height="37.25" width="65"></p>
          <p><h4>&nbsp;Michaels Designs</h4></p>
        </div>
        <div class="col">
          <ul class="nav nav-pills nav-justified" style="padding-top: 10px;">
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Navigation for Mobile -->
    <nav class="hidden-md-up navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Michaels Designs</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Premier Brands</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="#">Longines</a>
              <a class="dropdown-item" href="#">Tissot</a>
              <a class="dropdown-item" href="#">Hamilton</a>
              <a class="dropdown-item" href="#">Mont Blanc</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Repairs</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Jewellery</a>
              <a class="dropdown-item" href="#">Watches</a>
            </div>
          </li>
          <li><a class="nav-link" href="#">Wedding Anniversary</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
          <div class="col hidden-sm-down">
            <nav class="nav flex-column">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="#collapsePremierBrands" data-toggle="collapse" aria-expanded="false">Premier Brands&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              <div class="collapse" id="collapsePremierBrands">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Longines</a></li>
                    <li class="list-group-item"><a href="#">Tissot</a></li>
                    <li class="list-group-item"><a href="#">Hamilton</a></li>
                    <li class="list-group-item"><a href="#">Mont Blanc</a></li>
                  </ul>
                </div>
              </div>
              <a class="nav-link" href="#collapseRepairs" data-toggle="collapse" aria-expanded="false">Repairs&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              <div class="collapse" id="collapseRepairs">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Jewellery</a></li>
                    <li class="list-group-item"><a href="#">Watches</a></li>
                  </ul>
                </div>
              </div>
              <a class="nav-link" href="#">Wedding Anniversary</a>
              <a class="nav-link" href="#collapseBirthStones" data-toggle="collapse" aria-expanded="false">Birth Stones&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              <div class="collapse" id="collapseBirthStones">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    {% for stone in birthstones %}
                    <li class="list-group-item"><a href="#" data-toggle="modal" data-target={{stone.stone_name|add_id}}>{{stone.stone_month|month_finder}} - {{stone.stone_name}}</a></li>
                    <!-- Modal -->
                    <div class="modal fade" id={{stone.stone_name}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id={{stone.stone_name}}>{{stone.stone_name}} Month - {{stone.stone_month|month_finder}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col"><img src={{stone.stone_photo|img_src}}></div>
                            </div>
                            <div class="row">
                              <div class="col">{{stone.description|markdown_to_html}}</div>
                            </div>
                            <div class="row">
                              <div class="col">{{stone.cleaning_tips|markdown_to_html}}</div>
                            </div> 
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-md-9">{% block content %}{% endblock %}</div>
        </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static 'vendor/bootstrap4/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/bootstrap4/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>