{% load static from staticfiles %}
{% load design_extras %}
<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="MyAppController">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="http://iconshow.me/media/images/Mixed/line-icon/png/512/diamond-512.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap4/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/my_css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body id="top_page">
    <!-- Navigation for desktop and tablet -->

    <div class="container-fluid hidden-sm-down">
      <div class="row">
        <div class="col-6">
            <p style="float: left; padding-top: 10px;"><img src="{% static 'images/michaels_designs/logo.png' %}" height="37.25" width="65"></p>
            <p><h4>&nbsp;Michael's Designs</h4></p>
        </div>
        <div class="col-6">
          <ul class="nav nav-pills nav-justified" style="padding-top: 10px;">
            {% if request.get_full_path == '/about/' %}
              <li class="nav-item"><a class="nav-link active" href="/about/">About</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
            {% endif %}
            {% if request.get_full_path == '/contact/' %}
              <li class="nav-item"><a class="nav-link active" href="/contact/">Contact</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Navigation for Mobile -->
    <nav class="hidden-md-up navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top" style="margin-bottom: 10px;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Michael's Designs</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if request.get_full_path == '/' %}
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>          
          {% endif %}
          {% if request.get_full_path|path_single == 'premier-brand' %}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Premier Brands</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              {% for brand in premier_brands %}
              <a class="dropdown-item" href="/premier-brand/{{brand.brand_name}}">{{brand.brand_name}}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Premier Brands</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              {% for brand in premier_brands %}
              <a class="dropdown-item" href="/premier-brand/{{brand.brand_name}}">{{brand.brand_name}}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
          {% if request.get_full_path == '/product/' %}
          <li class="nav-item dropdown active">
          {% else %}
          <li class="nav-item dropdown">
          {% endif %}  
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/product/#design">Design</a>
              <a class="dropdown-item" href="/product/#metals">Metals</a>
              <a class="dropdown-item" href="/product/#stones">Stones</a>
            </div>
          </li>
          {% if request.get_full_path == '/services/' %}
          <li class="nav-item dropdown active">
          {% else %}
          <li class="nav-item dropdown">
          {% endif %} 
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/services/#watch-repair">Watches</a>
              <a class="dropdown-item" href="/services/#jewellery-repair">Jewellery</a>
            </div>
          </li>
          {% if request.get_full_path == '/anniversary-gift-list/' %}
          <li class="nav-item dropdown active">
          {% else %}
          <li class="nav-item dropdown">
          {% endif %}
          <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anniversary Gift List</a>
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="/anniversary-gift-list/#traditional">Traditional</a>
              <a class="dropdown-item" href="/anniversary-gift-list/#jewellery">Jewellery</a>
            </div>
          </li>
          {% if request.get_full_path == '/about/' %}
            <li class="nav-item active"><a class="nav-link active" href="/about/">About</a></li>
          {% else %}  
          <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
          {% endif %}
          {% if request.get_full_path == '/contact/' %}
            <li class="nav-item active"><a class="nav-link active" href="/contact/">Contact</a></li>
          {% else %}  
          <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

<!-- Navigation for Desktop and Tablet -->
<div class="container-fluid">
  <div class="row">
    <div class="col-3 hidden-sm-down">
            <nav class="nav flex-column">
              {% if request.get_full_path == '/' %}
                <a class="nav-link active" href="/">Home</a>
              {% else %}
                <a class="nav-link" href="/">Home</a>
              {% endif %}
              {% if request.get_full_path|path_single == 'premier-brand' %}
              <a class="nav-link active" href="#collapsePremierBrands" data-toggle="collapse" aria-expanded="false">Premier Brands&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% else %}
              <a class="nav-link" href="#collapsePremierBrands" data-toggle="collapse" aria-expanded="false">Premier Brands&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% endif %}
              <div class="collapse" id="collapsePremierBrands">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    {% for brand in premier_brands %}
                    <li class="list-group-item"><a href="/premier-brand/{{brand.brand_name}}/">{{brand.brand_name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% if request.get_full_path == '/product/' %}
              <a class="nav-link active" href="#collapseProduct" data-toggle="collapse" aria-expanded="false">Product&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% else %}
              <a class="nav-link" href="#collapseProduct" data-toggle="collapse" aria-expanded="false">Product&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% endif %}
              <div class="collapse" id="collapseProduct">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/product/#design">Design</a></li>
                    <li class="list-group-item"><a href="/product/#metals">Metals</a></li>
                    <li class="list-group-item"><a href="/product/#stones">Stones</a></li>
                  </ul>
                </div>
              </div>
              {% if request.get_full_path == '/services/' %}
              <a class="nav-link active" href="#collapseRepairs" data-toggle="collapse" aria-expanded="false">Services&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% else %}
              <a class="nav-link" href="#collapseRepairs" data-toggle="collapse" aria-expanded="false">Services&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% endif %}
              <div class="collapse" id="collapseRepairs">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/services/#watch-repair">Watches</a></li>
                    <li class="list-group-item"><a href="/services/#jewellery-repair">Jewellery</a></li>
                  </ul>
                </div>
              </div>
              {% if request.get_full_path == '/anniversary-gift-list/' %}
              <a class="nav-link active" href="#collapseAnniversary" data-toggle="collapse" aria-expanded="false">Anniversary Gift List&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% else %}
              <a class="nav-link" href="#collapseAnniversary" data-toggle="collapse" aria-expanded="false">Anniversary Gift List&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              {% endif %}
              <div class="collapse" id="collapseAnniversary">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/anniversary-gift-list/#traditional">Traditional</a></li>
                    <li class="list-group-item"><a href="/anniversary-gift-list/#jewellery">Jewellery</a></li>
                  </ul>
                </div>
              </div>
              <a class="nav-link" href="#collapseBirthStones" data-toggle="collapse" aria-expanded="false">Birth Stones&nbsp;&nbsp;<span class="fa fa-angle-down"></span></a>
              <div class="collapse" id="collapseBirthStones">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    {% for stone in birthstones %}
                    <li class="list-group-item"><a href="#" data-toggle="modal" data-target={{stone.stone_name|add_id}}>{{stone.stone_month|month_finder}} - {{stone.stone_name}}</a></li>
                    <!-- Modal -->
                    <div class="modal fade" id={{stone.stone_name}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id={{stone.stone_name}}>{{stone.stone_name}} &middot; Month &minus; {{stone.stone_month|month_finder}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col"><img src="{% static 'designs' %}/{{stone.stone_photo|img_src}}" class="img-fluid"></div>
                            </div>
                            <div class="row">
                              <div class="col">{{stone.description|markdown_to_html}}</div>
                            </div>
                            <div class="row">
                              <div class="col">{{stone.cleaning_tips|markdown_to_html}}</div>
                            </div> 
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-12 col-md-9">
            {% block content %} {% endblock %}
          </div>
  </div>
</div>

    <br>

<div class="container-fluid">
  <div class="row footer-div">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a href="#top_page"><span class="fa fa-angle-double-up fa-2x"></span></a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <a href="/contact/" class="btn btn-outline-primary btn-block">
            Contact Us&nbsp;&nbsp;<span class="fa fa-phone"></span>
            &nbsp;&nbsp;<span class="fa fa-envelope-open"></span>
            </a>
            {% if request.get_full_path == '/signup-to-newsletter/' %}
            <a href="/signup-to-newsletter/" class="btn btn-primary btn-block">
            Sign up to our news letter&nbsp;&nbsp;<span class="fa fa-envelope-o"></span>
            </a>
            {% else %}
            <a href="/signup-to-newsletter/" class="btn btn-outline-primary btn-block">
            Sign up to our news letter&nbsp;&nbsp;<span class="fa fa-envelope-o"></span>
            </a>
            {% endif %}
          </div>
          <div class="col-md-6 text-center">
            <br class="hidden-md-up">
            <a href="https://www.facebook.com/MichaelsDesigns/"><span class="fa fa-facebook-official fa-3x"></span></a>
            <p>Find us on Facebook</p>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

    <!-- Facebook JS SDK  -->

    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static 'vendor/bootstrap4/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/javascript/custom.js' %}"></script>
    <script src="{% static 'vendor/bootstrap4/bower_components/tether/dist/js/tether.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap4/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/angular/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular/bower_components/angular/app.js' %}"></script>

  </body>
</html>