{% extends "base.html" %}
{% block title %}Michael’s Designs | {{brand.brand_name}}{% endblock %}
{% load static from staticfiles %}
{% load design_extras %}

{% block content %}

<!-- Desktop and Tablet -->
    <div class="row">
        <div class="col">
            <h1 class="text-center display-4">{{brand.brand_name}}</h1>
            <hr>
                <img src="{% static 'designs' %}/{{brand.brand_main_photo|img_src}}" class="img-fluid img-thumbnail">
            <hr>
            <br />
            <blockquote class="blockquote">{{brand.brand_description}}</blockquote>
            <br />
            <div class="text-center">
                <img src="{% static 'designs' %}/{{brand.brand_logo|img_src}}" class="img-fluid img-thumbnail">
            </div>
            <hr>
        </div>
    </div>
{% endblock %}