{% extends "base.html" %}
{% block title %}Michael’s Designs | About{% endblock %}
{% load static from staticfiles %}
{% load design_extras %}

{% block content %}

<!-- Desktop and Tablet -->
<div class="col-md-9">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="hidden-md-up" style="margin-bottom: 60px;"></div>
            <p class="hidden-md-down" style="float: left;"><img class="img-fluid" src="{% static 'images/michaels_designs/logo.png' %}" height="87.25" width="135">&nbsp;&nbsp;</p>
            <p><h1 class="display-4">Michael's Designs</h1></p>
        </div>
        <br class="hidden-md-down">
        <hr>
        <h5 class="text-center"><strong>Michael’s Designs has been in business for more than twenty years. 
            During this time it has established itself as one of the most reputable jewellery stores in Johannesburg.</strong></h5>
        <br>
        <blockquote class="blockquote">
            The owner (Michael Maack) is a South African of German decent. After a four-year apprenticeship, followed by a short career at a well-known Johannesburg jeweller,
            he established his manufacturing business in 1989. The business has gone from strength to strength, and has become associated with craftsmanship and quality designs throughout the jewellery industry.
        </blockquote>
        <br>
        <blockquote class="blockquote">
            Michael is a Goldsmith Laureate and has won awards for both design and wearability.
            He concentrates his designs on classical beauty with harmony and balance which ensures that his creations are both striking and timeless.
            Each piece of jewellery is handcrafted to perfection.
            Priority is given to sourcing the best-quality stones. Only top quality natural stones and precious metals are used for the designs.
        </blockquote>
        <br>
        <blockquote class="blockquote">
            In recognition of their excellence as Jewellers and Retailers Michael’s Designs has been awarded agencies for a number of top brands.
            These brands include Festina, Maurice Lacroix and Mont Blanc.
            They are also one of the select agents who sell the sought after Puzzle rings.
         </blockquote>
        <br>
        <blockquote class="blockquote">
            The staff at Michael’s Designs are both friendly, helpful and knowledgeable about the jewellery and brands which they sell.
            Michael strives to instil a culture of professionalism amongst his staff.
            Michael’s Designs is truly a personalised jewellery store which pays attention to detail.
          </blockquote>
        <br>
        <hr>
    </div>
</div>

{% endblock %}