{% extends "base.html" %}
{% block title %}Michael’s Designs | Product{% endblock %}
{% load static from staticfiles %}
{% load design_extras %}

{% block content %}

<div class="row">
    <div class="col-12">
        <img src="{% static 'images/michaels_designs/GoldBanner.jpg' %}" class="img-fluid">
    </div>
</div>
<div id="design">
</div>
<br>
<div class="row">
    <div class="col">
        <div>
            <br>
            <h1>Design</h1>
            <hr>
            <br>
            <p>
                Having a piece of jewellery individually designed for oneself is exciting and special. It means the piece will reflect your personality and lifestyle. It will be one of a kind.
            </p>
            <p>
                Michael’s Designs is well known for their individually handcrafted jewellery. Both Michael, and the workshop staff are highly qualified in their trade.
                Michael’s Designs is, therefore, in a position to offer invaluable advice and to assist you in creating a piece of jewellery to suit your style.
            </p>
            <p>
                Before one visits a jewellery store to have a piece of jewellery designed or to purchase something from their range, it is important to have a basic 
                knowledge about both the stones and metals to be used. It is also imperative to have an understanding of what you can expect to pay for superior quality
                stones and pure metals.
            </p>
        </div>
    </div>
</div>
<div id="metals">
</div>
<br><br>
<div class="row">
    <div class="col">
        <h1>Metals</h1>
        <hr>
        <br>
        <h4 class="text-muted">Platinum</h4>
        <p>
            Platinum is the most rare and valuable of all the precious metals. It has a lustrous, steely, white colour and is very durable and heavy. It is the only
            hypoallergenic precious metal.
        </p>
        <br>
            <h4 class="text-warning">Gold</h4>
            <div class="col-md-10">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>24 carat</td>
                            <td>gold is too soft to fashion into jewellery, so various metals are added to make it workable.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h5>24 carat gold is alloyed into three main standards:</h5>
            <br>
            <div class="col-md-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>18ct</td>
                        <td>18 parts gold and 6 parts other metal.</td>
                    </tr>
                    <tr>
                        <td>14ct</td>
                        <td>14 parts gold and 10 parts other metal.</td>
                    </tr>
                    <tr>
                        <td>9ct</td>
                        <td>9 parts gold and 15 parts other metal.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <h4 class="text-warning">Yellow Gold</h4>
        <p>
            Silver and copper are added to pure gold to obtain the rich, lustrous colour of yellow gold.
        </p>
        <h4 class="text-warning">White Gold</h4>
        <p>
            Silver, palladium and nickel as well as some copper are mixed with pure gold to achieve the elegant shade of white gold.
        </p>
        <h4 class="text-muted">Silver</h4>
        <p>
        Sterling silver is 92.5% pure. Always check for the quality mark (925) stamped into your particular piece to ensure that you silver is of the required
        standard. 
        </p>
    </div>
</div>
        <hr>
        <div id="stones" class="breaker">
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <h1>
                    Stones
                    <small class="text-muted">The Quatlity of Diamonds: The 4 C's</small>
                </h1>
                <hr>
                <br>
                <h4>Carat</h4>
                <p>
                    Size does count. However bigger isn’t always better, a smaller diamond may be better in terms of cut, clarity and colour. Carat is the gemmologist’s
                    standard measure of a diamond’s weight. Never compromise on quality, when selecting a diamond. Diamonds are graded according to these four C’s to
                    conform to International Diamond Grading Standards.
                </p>
                <h4>Cut</h4>
                <p>
                    A good cut gives maximum reflection and sparkle. A diamond is cut to reflect light. Most diamonds are brilliant cut with 58 facets.
                </p>
                <h4>Colour</h4>
                <p>
                    The most prized diamonds are colourless because they allow the maximum light through and therefore sparkle more. Diamonds are graded according to
                    GIA standards from D-Z in colour with D being the most valuable and sought after colour (can be known as blue white) and Z being the dark yellow 
                    colour. Other colours such as red, blue and green are more rare.
                </p>
                <h4>Clarity</h4>
                <p>
                    This refers to the interior and exterior inclusions and surface markings. Also referred to as the ‘purity’ of a diamond. A diamond is flawless when it is free 
                    of inclusions, because nothing interferes with the passage of light or spoils the beauty. A flawless diamond will be far more expensive than one with
                    blemishes and inclusions. Clarity grades range from “FL” (Flawless) to “I” (Imperfect).
                </p>
                <h4>Properties</h4>
                <p>
                    Diamonds are pure or nearly pure carbon. A diamond is the purest of the earth’s gemstones.
                </p>
                <p>
                    Other properties of diamonds are their high refractive index and dispersion. They have the unique power of light reflection. This is what gives diamonds
                    the brilliance and fire as we know it. In fact, most diamonds are not colourless, most are slightly to noticeably yellow. Intense, attractive colours like
                    yellow, pink, blue, green and red are called fancy colours.
                </p>
                <h4>History and lore</h4>
                <p>
                    Diamonds are the hardest transparent substance on earth. Of all gemstones, diamonds have the most interesting history and lore. Diamonds were
                    known as far back as 800 BC in India. In fact, for 2,500 years that country was the only producer of diamonds.
                </p>
                <p>
                    Diamonds were first cut in India and Europe in the fourteenth century and became a gem in the modern sense. In 1725 diamonds were discovered in
                    Brazil, and in 1866 the first diamond was discovered in South Africa. In 1888 De Beers was formed and the rest is history.
                </p>
                <p>
                Ownership of this once exclusive gem of royalty has now become a realistic goal for the average person. 
                </p>
                <h4>Sources and occurrences</h4>
                <p>
                    Australia is the worlds largest producer of diamonds, notably the Argyle mine contains the worlds largest reserves. It is also the source of the very rare
                    and highly valued pink and red fancy coloured diamonds. However, Africa is the diamond continent and most of the high quality gems are produced 
                    there. Of the 20 largest diamonds ever found, South Africa has produced 10. Russia is also an important producer of high quality stones. Future sources
                    are off-shore deposits in Africa and new reserves in China and Canada.
                </p>
            </div>
        </div>
    <hr>
{% endblock %}